<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>homework 25</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="assets/img/logo.png" alt="logo">
            <input type="search" name="" id="">
            <button>Search</button>
        </div>
    </header>
    <main>
        <div class="container">
            <ul class="product_list">
                <li class="product_list_item">
                    <img class="product_img" src="assets/img/bike1.jpg" alt="">
                    <h2 class="product_name">Велосипед Pride Stella 6.1 MS</h2>
                    <div class="buy_container">
                        <p class="product_cost">12490 ₴</p>
                        <button class="buy_btn">Купить</button>
                    </div>
                </li>
                <li class="product_list_item">
                    <img class="product_img" src="assets/img/bike2.jpg" alt="">
                    <h2 class="product_name">Велосипед Crosser Solo 2x9 27.5"</h2>
                    <div class="buy_container">
                        <p class="product_cost">8990 ₴</p>
                        <button class="buy_btn">Купить</button>
                    </div>
                </li>
                <li class="product_list_item">
                    <img class="product_img" src="assets/img/bike3.jpg" alt="">
                    <h2 class="product_name">Велосипед Bergamont Revox 3 29" FMN</h2>
                    <div class="buy_container">
                        <p class="product_cost">21990 ₴</p>
                        <button class="buy_btn">Купить</button>
                    </div>
                </li>
                <li class="product_list_item">
                    <img class="product_img" src="assets/img/bike4.jpg" alt="">
                    <h2 class="product_name">Велосипед Pride Rocksteady AL 7.1</h2>
                    <div class="buy_container">
                        <p class="product_cost">14990 ₴</p>
                        <button class="buy_btn">Купить</button>
                    </div>
                </li>
                <li class="product_list_item">
                    <img class="product_img" src="assets/img/bike5.jpg" alt="">
                    <h2 class="product_name">Велосипед Crosser MT-036 2x12-L-S 29"</h2>
                    <div class="buy_container">
                        <p class="product_cost">11990 ₴</p>
                        <button class="buy_btn">Купить</button>
                        <input type="checkbox" name="" id="">
                    </div>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>